<div class="graph-container">
  <div class="graph-row">
    <div class="graph-item">
      <a routerLink="monthly-breastfed-infant-report">
        <app-monthly-breastfed-infant-report></app-monthly-breastfed-infant-report></a>
    </div>
    <div class="graph-item">
      <a routerLink="yearly-breastfed-infant-report">
        <app-yearly-breastfed-infant-report></app-yearly-breastfed-infant-report></a>
    </div>
  </div>
  <div class="graph-row">
    <div class="graph-item">
      <a
        routerLink="institution-score-differenc-report"><app-institution-score-differenc-report></app-institution-score-differenc-report></a>
    </div>
  </div>
</div>


